<article class="comment" [class]="comment().parentId ? '' : ''">
  <div>
    <div class="flex-row" [class]="comment().parentId ? 'comment-hide' : ''">
      <img alt="" src="man.jpeg" class="comment__picture" />

      <div>
        <h3 [class]="comment().parentId ? 'comment-hide' : ''">
          {{ comment().user?.name }}
        </h3>
      </div>
    </div>

    <ul>
      <span>{{ comment().text }}</span>
      <li class="">
        <span [class]="comment().parentId ? '' : 'comment-hide'"
          >[{{ comment().user?.name }}] -
        </span>

        {{ comment().timestamp | date }}
      </li>
    </ul>

    <button
      [class]="
        comment().parentId || this.isProfileComment()
          ? 'comment-hide'
          : 'basic-hover'
      "
      (click)="clickReply()"
      [disabled]="!hasClickedReply && !canClickReply"
    >
      {{ hasClickedReply ? "Close Replies" : "Reply" }}
    </button>

    <button
      [class]="this.isProfileComment() ? 'delete-hover' : 'comment-hide'"
      (click)="clickDelete(comment().id)"
    >
      Delete
    </button>
  </div>
</article>
<section>
  @if(hasClickedReply) { @for(comment of nestedComments(); track $index) {
  <app-comment [isProfileComment]="false" [comment]="comment"></app-comment> } }
</section>

@if(comment().id && hasClickedReply && third) {
<app-reply-comment [parentId]="comment().id"></app-reply-comment>} @else { }
