<article
  class="comment"
  (mouseover)="mouseUpperTrue()"
  (mouseout)="mouseUpperFalse()"
  [class]="comment().parentId ? '' : ''"
>
  <div>
    <div class="flex-row" [class]="comment().parentId ? 'comment-hide' : ''">
      <img alt="" src="man.jpeg" class="comment__picture" />

      <div>
        <h3 [class]="comment().parentId ? 'comment-hide' : ''">
          {{ comment().user?.name }}
        </h3>
      </div>
    </div>

    <ul>
      <span>{{ comment().text }}</span>
      <li class="">
        <span [class]="comment().parentId ? '' : 'comment-hide'"
          >[{{ comment().user?.name }}] -
        </span>

        {{ comment().timestamp | date }}
      </li>
    </ul>

    <button
      (click)="toggleClickButtonOnly()"
      [class]="
        comment().parentId || this.isProfileComment()
          ? 'comment-hide'
          : 'basic-hover'
      "
    >
      {{ toggleRepliesVisible() ? "Close Replies" : "Reply" }}
    </button>

    <button
      [class]="this.isProfileComment() ? 'delete-hover' : 'comment-hide'"
      (click)="deleteComment(comment().id)"
    >
      Delete
    </button>
  </div>
</article>
<section (mouseover)="mouseLowerTrue()" (mouseout)="mouseLowerFalse()">
  @if(toggleRepliesVisible()) { @for(comment of nestedComments(); track $index)
  {
  <app-comment2 [comment]="comment"></app-comment2>
  } } @if(comment().id && toggleRepliesVisible()) {
  <app-reply-comment [parentId]="comment().id"></app-reply-comment>}
</section>
