<mat-expansion-panel #expansionPanel (opened)="scrollToPanelBottom()">
  <mat-expansion-panel-header>
    <mat-panel-title>Language</mat-panel-title>
  </mat-expansion-panel-header>

  <form [formGroup]="langDirectForm">
    <div class="translation-row" #panelContent>
      <mat-form-field hideRequiredMarker>
        <mat-label for="fromLanguage">From</mat-label>

        <mat-select
          (selectionChange)="langFromChanged($event)"
          name="fromLanguage"
          formControlName="fromLanguage"
          required
        >
          <mat-option [value]="this.DE">German</mat-option>
          <mat-option [value]="this.EN">English</mat-option>
          <mat-option [value]="this.UK">Ukrainian</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field hideRequiredMarker>
        <mat-label for="toLanguage">To</mat-label>

        <mat-select
          (selectionChange)="langToChanged($event)"
          name="toLanguage"
          formControlName="toLanguage"
          required
        >
          <mat-option [value]="this.DE">German</mat-option>
          <mat-option [value]="this.EN">English</mat-option>
          <mat-option [value]="this.UK">Ukrainian</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-expansion-panel>
<div>
  <mat-accordion multi> </mat-accordion>
</div>
