.big {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  text-align: right;
}
.little {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
  .big {
    justify-content: end;
  }
}
