<div (focusout)="onSendUp()">
  <form [formGroup]="nounForm" (ngSubmit)="submitNoun()" class="big">
    <div class="little">
      <label for="singNom"
        >sing Nom:
        <input id="singNom" type="text" formControlName="singNom" />
      </label>

      <label for="singAcc"
        >sing Acc :
        <input id="singAcc" type="text" formControlName="singAcc" />
      </label>

      <label for="singGen"
        >sing Gen:
        <input id="singGen" type="text" formControlName="singGen" />
      </label>

      <label for="singDat"
        >sing Dat:
        <input id="singDat" type="text" formControlName="singDat" />
      </label>

      <label for="singIns"
        >sing Ins:
        <input id="singIns" type="text" formControlName="singIns" />
      </label>

      <label for="singLoc"
        >sing Loc:
        <input id="singLoc" type="text" formControlName="singLoc" />
      </label>

      <label for="singVoc"
        >sing Voc:
        <input id="singVoc" type="text" formControlName="singVoc" />
      </label>
    </div>
    <div class="little">
      <label for="plurNom"
        >plur Nom:
        <input id="plurNom" type="text" formControlName="plurNom" />
      </label>

      <label for="plurAcc"
        >plur Acc:
        <input id="plurAcc" type="text" formControlName="plurAcc" />
      </label>

      <label for="plurGen"
        >plur Gen:
        <input id="plurGen" type="text" formControlName="plurGen" />
      </label>

      <label for="plurDat"
        >plur Dat:
        <input id="plurDat" type="text" formControlName="plurDat" />
      </label>

      <label for="plurIns"
        >plur Ins:
        <input id="plurIns" type="text" formControlName="plurIns" />
      </label>

      <label for="plurLoc"
        >plur Loc:
        <input id="plurLoc" type="text" formControlName="plurLoc" />
      </label>

      <label for="plurVoc"
        >plur Voc:
        <input id="plurVoc" type="text" formControlName="plurVoc" />
      </label>
      <!-- <label><button type="submit">Save</button> </label> -->
    </div>
  </form>
</div>
