<form [formGroup]="dynamicForm" #definitionEdit>
  <div formArrayName="formArray">
    @for (group of formArray.controls; track group.getRawValue(); let index =
    $index) {
    <div [formGroupName]="index">
      <mat-form-field appearance="outline" class="definition-container__field">
        <input
          matInput
          placeholder="..."
          formControlName="definition"
          (focusout)="toEdit()"
          (keydown.enter)="toEdit()"
        />
      </mat-form-field>
      <app-translate-modal-g
        (mouseup)="this.toEdit()"
        [inputForTranslate]="{
          definition: this.formArray.at(index).value.definition,
          index,
          type: this.type()
        }"
      />
      <button
        mat-icon-button
        type="button"
        color="warn"
        (click)="removeFormGroup(index)"
      >
        @if (formArray.length >= 1){ <mat-icon>delete</mat-icon>}
      </button>
    </div>
    }
  </div>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="this.defEdit.addFormGroup(this.formArray)"
  >
    Add Row
  </button>
</form>
