<form [formGroup]="dynamicForm" #definitionEdit>
  <!-- <form [formGroup]="dynamicForm" (focusout)="toEdit($event)" #definitionEdit> -->
  <div formArrayName="formArray">
    @for (group of formArray.controls; track group.getRawValue(); let index =
    $index) {
    <div [formGroupName]="index">
      <mat-form-field appearance="outline" class="definition-container--field">
        <input
          matInput
          placeholder="..."
          formControlName="definition"
          (focusout)="toEdit()"
        />
      </mat-form-field>
      <button mat-icon-button color="warn" (click)="removeFormGroup(index)">
        @if (formArray.length > 1){ <mat-icon>delete</mat-icon>}
      </button>
    </div>
    }
  </div>
  <button mat-raised-button color="primary" (click)="addFormGroup()">
    Add Row
  </button>
</form>
