<div (focusout)="sendToCaseComponent()" class="imperfect-container">
  <form [formGroup]="imperfectForm">
    <div formArrayName="formArray">
      @for (group of this.keysForForm; track group; let index = $index) {
      <div [formGroupName]="index">
        <mat-form-field appearance="outline">
          <input
            matInput
            [placeholder]="this.keysForForm[index]"
            [formControlName]="this.keysForForm[index]"
          />
        </mat-form-field>
      </div>
      }
    </div>
  </form>
</div>
