@if (this.vals$| async ) {} @if (this.input$| async ) {} @if (this.changes$|
async ) {}
<section class="top-form">
  <form
    [formGroup]="manualForm"
    class="top-form__new-word"
    (focusout)="submitToBuilder()"
  >
    <div class="new-word__wik-row">
      <mat-form-field hideRequiredMarker>
        <mat-label for="original">Original</mat-label>

        <input
          autocomplete="off"
          type="text"
          formControlName="original"
          matInput
          required
        />
        @if (original?.invalid && (original?.dirty)) {
        <div>
          @if (original?.hasError('required')) {
          <div class="error">Original is required.</div>
          }
        </div>
        }
      </mat-form-field>

      <app-wiktion [downPut]="this.formValues$" />
    </div>
    <mat-form-field hideRequiredMarker>
      <mat-label for="translation">Translation</mat-label>
      <input
        autocomplete="off"
        type="text"
        formControlName="translation"
        matInput
        required
      />

      @if (translation?.invalid && (translation?.dirty || translation?.touched))
      {
      <div class="alert alert-danger">
        @if (translation?.hasError('required')) {
        <div class="error">Translation is required.</div>
        }
      </div>
      }
    </mat-form-field>
    <div>
      <mat-form-field hideRequiredMarker>
        <mat-label for="partOfSpeech">Part of Speech</mat-label>

        <mat-select
          (selectionChange)="speechChanged()"
          name="partOfSpeech"
          formControlName="partOfSpeech"
          required
        >
          <mat-option value="Verb">Verb</mat-option>
          <mat-option value="Adjective">Adjective</mat-option>
          <mat-option value="Noun">Noun</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <app-search-ahead [downPut]="this.formValues$" />
</section>
