@use "../../../styles.scss" as *;

.home-container {
  @extend %flex-col;
  row-gap: 20px;
}

.comment-container {
  justify-content: center;
  @extend %flex-row;
  div {
    @extend %flex-row;
    column-gap: 1rem;
    width: 600px;
    overflow-x: auto;
  }
}
.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
