@use "../../../styles.scss" as *;

.home-container {
  @extend %flex-col;
  height: 80vh;
  row-gap: 2rem;
  .form-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .comment-container {
    @extend %flex-row;
    height: 75%;
    margin-right: 10.5rem;
    justify-content: center;
    overflow-y: auto;
    margin-top: 2rem;
    div {
      @extend %flex-row;
      column-gap: 1rem;
      width: 41.5vw;
      overflow-x: auto;
    }
  }
}
