<mat-drawer-container class="drawer-holder">
  <mat-drawer #drawer mode="over">
    <div class="left-drawer">
      <p class="left-toggle-mover">
        <i
          (click)="drawer.toggle()"
          class="left-drawer__toggle-button left"
        ></i>
      </p>
      <app-word-builder />
    </div>
    <section class="targets">
      <app-lang-direction
        (fromLanguage)="fromLanguage($event)"
        (toLanguage)="toLanguage($event)"
      />
    </section>
  </mat-drawer>

  <div class="right-drawer">
    <p class="right-toggle-mover">
      <i
        (click)="drawer.toggle()"
        class="right-drawer__toggle-button right"
      ></i>
    </p>
    <router-outlet />
  </div>
</mat-drawer-container>
