.drawer-holder {
  height: 100%;
  // width: 100%;

  .right-drawer {
    // width: 100%;
    height: 97vh;
    &__toggle-button {
      display: flex;
      // position: absolute;
      // top: 5rem;
      // left: 1rem;
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 9px;
      z-index: 7;
      border-color: #a0a0a0;
    }
  }

  .left-drawer {
    // width: 100%;
    overflow-x: hidden;
    max-width: 90vw;
    height: 100%;

    &__nav-row {
      background-color: green;
    }
    &__toggle-button {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 9px;
      border-color: #a0a0a0;
    }
  }
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.left-toggle-mover {
  // transform: translateX(18rem);
  transform: translate(20.5rem, 0.26rem);
}
.right-toggle-mover {
  position: absolute;
  left: 1rem;
  top: 0.26rem;
  // transform: translate(0.5rem, 8rem);
}
.targets {
  display: flex;
  flex-direction: column;
}
// @media only screen and (min-width: 500px) {
//   .right-toggle-mover {
//     position: absolute;
//     left: 2vw;
//     bottom: 9rem;
//   }
// }
// @media only screen and (min-width: 600px) {
//   .right-toggle-mover {
//     position: absolute;
//     left: 1rem;
//     top: 0.25rem;
//   }
// }

// @media only screen and (min-width: 768px) {
//   .right-toggle-mover {
//     position: absolute;
//     left: 6vw;
//     bottom: 9rem;
//   }
// }
