@media only screen and (max-width: 600px) {
  .new-word-form {
    width: 100%;
  }
  .definition-example {
    width: 100%;
  }
}
@media only screen and (min-width: 650px) {
  .new-word-form {
    width: 75%;
  }
  .definition-example {
    width: 75%;
  }
}
@media only screen and (min-width: 992px) {
  .new-word-form {
    width: 50%;
  }
  .definition-example {
    width: 50%;
  }
}

.outer {
  padding: 1rem;
}
.new-word-form {
  display: flex;
  flex-direction: column;
}
.wiktion-div {
  display: flex;
  justify-content: end;
}
.speech-row {
  display: flex;
  justify-content: end;
  &__field {
    width: 100%;
  }
  &__case-button {
    font-size: 16px;
    margin-top: 0.5rem;
    margin-left: 2rem;
  }
}
.save-button-row {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.definition-example {
}
.definition-example--buttons {
  display: flex;
  justify-content: end;
}
.translations-examples-container {
  margin-bottom: 1rem;
}
