.topForm {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-bottom: 4rem;
}
.big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
.rightDiv {
  display: flex;
  flex-direction: column;
}
.wik {
  // text-align: right;
  justify-content: end;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .big {
    width: 100%;
  }
}
