// .search-ahead {
// background-color: red;
// }

// .search-ahead__field {
// position: absolute;
// width: 20;
// }
.word-container {
  overflow-y: auto;
  height: 30vh;
  &__titleText:hover {
    cursor: pointer;
    color: greenyellow;
  }
}
