<form
  class="flex flex-col items-end gap-4 text-white"
  #commentForm="ngForm"
  (ngSubmit)="onSubmit(commentForm)"
>
  <textarea
    name="entry"
    type="text"
    [(ngModel)]="model.entry"
    id="entry"
    entry="entry"
    #entry="ngModel"
    [rows]="1"
    class="px-3 py-1.5 w-full border border-slate-900 rounded-md bg-gray-800"
  ></textarea>
  <div class="flex flex-row">
    <div
      [hidden]="!logged || !entry.value"
      class="bg-red-400 p-0.5 text-white mr-4 rounded"
    >
      Log in to post
    </div>
    <button
      type="submit"
      class="inline-block rounded border border-current px-4 py-1 text-sm font-medium hover:border-gray-800"
    >
      Reply
    </button>
  </div>
</form>
