@if (this.output$ | async; as word) {
<div>
  <mat-expansion-panel #expansionPanel>
    <mat-expansion-panel-header>
      <mat-panel-title (click)="this.caseService.toggleCase()"
        >Case</mat-panel-title
      >
    </mat-expansion-panel-header>
    <div class="case-drop-list">
      @if (this.expansionPanel?.expanded) {
      <app-edit-imperfect
        [sendDown]="word.case"
        (sendUp)="onSendUp($event)"
        [word]="word"
      />

      }
    </div>
  </mat-expansion-panel>
</div>

<div>
  <mat-accordion multi> </mat-accordion>
</div>
}
