@use "../styles.scss" as *;

// .app-container {
//   @extend %flex-col;
//   row-gap: 20px;
// }

.nav-container {
  @extend %flex-row;

  width: 100%;
  //   justify-content: end;

  div {
    @extend %flex-row;

    column-gap: 4px;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: large;
    border-right: solid;
    padding-right: 1rem;
  }
}

// .logout-hover:hover {
//   @extend %alert-background;
//   border: 2px solid transparent;
//   color: white;
// }
