@use "../styles.scss" as *;

.dropup {
  position: absolute;
  // margin-left: 2rem;
  // transform: translate();
  right: 130px;
  // transform: translate(-90%, 0px);
  bottom: 0;
}
.nav-container {
  @extend %flex-row;
  color: white;
  width: 100%;
  div {
    @extend %flex-row;

    column-gap: 4px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: large;
    border-right: solid;
    padding-right: 1rem;
  }
}
