<div (focusout)="onSendUp()">
  <form [formGroup]="adjForm" (ngSubmit)="onSendUp()" class="big">
    <div class="little">
      <label for="malNom"
        >mal Nom:
        <input id="malNom" type="text" formControlName="malNom" />
      </label>

      <label for="malAcc"
        >mal Acc :
        <input id="malAcc" type="text" formControlName="malAcc" />
      </label>

      <label for="malGen"
        >mal Gen:
        <input id="malGen" type="text" formControlName="malGen" />
      </label>

      <label for="malDat"
        >mal Dat:
        <input id="malDat" type="text" formControlName="malDat" />
      </label>

      <label for="malIns"
        >mal Ins:
        <input id="malIns" type="text" formControlName="malIns" />
      </label>

      <label for="malLoc"
        >mal Loc:
        <input id="malLoc" type="text" formControlName="malLoc" />
      </label>

      <label for="malVoc"
        >mal Voc:
        <input id="malVoc" type="text" formControlName="malVoc" />
      </label>
    </div>

    <div class="little">
      <label for="femNom"
        >fem Nom:
        <input id="femNom" type="text" formControlName="femNom" />
      </label>

      <label for="femAcc"
        >fem Acc :
        <input id="femAcc" type="text" formControlName="femAcc" />
      </label>

      <label for="femGen"
        >fem Gen:
        <input id="femGen" type="text" formControlName="femGen" />
      </label>

      <label for="femDat"
        >fem Dat:
        <input id="femDat" type="text" formControlName="femDat" />
      </label>

      <label for="femIns"
        >fem Ins:
        <input id="femIns" type="text" formControlName="femIns" />
      </label>

      <label for="femLoc"
        >fem Loc:
        <input id="femLoc" type="text" formControlName="femLoc" />
      </label>

      <label for="femVoc"
        >fem Voc:
        <input id="femVoc" type="text" formControlName="femVoc" />
      </label>
    </div>

    <div class="little">
      <label for="neuNom"
        >neu Nom:
        <input id="neuNom" type="text" formControlName="neuNom" />
      </label>

      <label for="neuAcc"
        >neu Acc :
        <input id="neuAcc" type="text" formControlName="neuAcc" />
      </label>

      <label for="neuGen"
        >neu Gen:
        <input id="neuGen" type="text" formControlName="neuGen" />
      </label>

      <label for="neuDat"
        >neu Dat:
        <input id="neuDat" type="text" formControlName="neuDat" />
      </label>

      <label for="neuIns"
        >neu Ins:
        <input id="neuIns" type="text" formControlName="neuIns" />
      </label>

      <label for="neuLoc"
        >neu Loc:
        <input id="neuLoc" type="text" formControlName="neuLoc" />
      </label>

      <label for="neuVoc"
        >neu Voc:
        <input id="neuVoc" type="text" formControlName="neuVoc" />
      </label>
    </div>

    <div class="little">
      <label for="plurNom"
        >plur Nom:
        <input id="plurNom" type="text" formControlName="plurNom" />
      </label>

      <label for="plurAcc"
        >plur Acc:
        <input id="plurAcc" type="text" formControlName="plurAcc" />
      </label>

      <label for="plurGen"
        >plur Gen:
        <input id="plurGen" type="text" formControlName="plurGen" />
      </label>

      <label for="plurDat"
        >plur Dat:
        <input id="plurDat" type="text" formControlName="plurDat" />
      </label>

      <label for="plurIns"
        >plur Ins:
        <input id="plurIns" type="text" formControlName="plurIns" />
      </label>

      <label for="plurLoc"
        >plur Loc:
        <input id="plurLoc" type="text" formControlName="plurLoc" />
      </label>

      <label for="plurVoc"
        >plur Voc:
        <input id="plurVoc" type="text" formControlName="plurVoc" />
      </label>
      <!-- <label><button type="submit">Save</button> </label> -->
    </div>
  </form>
  <!-- <button (click)="change()">Change something!</button> -->
</div>
