@if (this.isValid$ | async) {}
<div class="form-container">
  <form [formGroup]="loginForm" class="form-container__login-fields">
    <mat-form-field hideRequiredMarker>
      <mat-label for="username">Username</mat-label>

      <input
        autocomplete="off"
        type="text"
        formControlName="username"
        matInput
        required
      />
      @if (username?.invalid && (username?.dirty)) {
      <div>
        @if (username?.hasError('required')) {
        <div class="error">Username is required.</div>
        }
      </div>
      }
    </mat-form-field>

    <mat-form-field hideRequiredMarker>
      <mat-label for="password">Password</mat-label>

      <input
        autocomplete="off"
        type="password"
        formControlName="password"
        matInput
        required
      />
      @if (password?.invalid && (password?.dirty)) {
      <div>
        @if (password?.hasError('required')) {
        <div class="error">Password is required.</div>
        }
      </div>
      }
    </mat-form-field>
    <div class="form-container__button-row">
      <button
        (click)="submitForLogin()"
        matButton="filled"
        [disabled]="this.formInvalid"
      >
        Login
      </button>

      <button
        (click)="submitForCreate()"
        matButton
        [disabled]="this.formInvalid"
        class="form-container__button-row--create-button"
      >
        Create
      </button>
    </div>
  </form>
</div>
