@use "./styles/comment" as *;
@use "./styles/flex" as *;
@use "./styles/colors" as c;
@use "./styles/text-entry" as *;
@use "./styles/config" as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: c.$background-color;
  font-family: $font-stack;
  line-height: 1.6;
}

.comment-hide {
  visibility: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin set-fadeIn-duration($duration) {
  animation: fadeIn $duration;
}
