<form [formGroup]="dynamicForm" (focusout)="toEdit($event)" #exampleEdit>
  <!-- <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()"> -->
  <div formArrayName="formArray">
    @for (group of formArray.controls; track group; let index = $index) {
    <div [formGroupName]="index" class="form-group">
      <mat-form-field appearance="outline" class="field">
        <input matInput placeholder="example" formControlName="example" />
      </mat-form-field>
      <button mat-icon-button color="warn" (click)="removeFormGroup(index)">
        @if (formArray.length > 1){ <mat-icon>delete</mat-icon>}
      </button>
    </div>
    }
  </div>
  <button mat-raised-button color="primary" (click)="addFormGroup()">
    Add Example
  </button>
  <!-- <button mat-raised-button color="primary" (click)="toEdit($event)">
    Confirm
  </button> -->
</form>
