.offset-quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  &__page-count {
    color: #a0a0a0;
    font-size: x-small;
    align-self: flex-end;
    transform: translate(-1rem, 1rem);
  }

  .word-panel {
    display: flex;
    justify-content: center;
    align-items: center;

    // &__sub-panel {
    // }
    &__card-count {
      top: 0;
      right: 1rem;
      position: absolute;
      color: #a0a0a0;
      font-size: x-small;
    }
    // &__quiz-holder {
    // }
  }
}
.btn-panel {
  display: flex;
  width: 100%;
  justify-content: space-around;

  &__big-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 9px;
    border-color: #a0a0a0;
    z-index: 7;
  }

  &__small-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7.5px;
    border-color: #a0a0a0;
  }
  &__mode-button {
    background-color: inherit;
    width: 3rem;
    border: none;
    color: #a0a0a0;
  }
  // &__big-arrow:hover {
  // }
  // &__small-arrow:hover {
  // }
  // &__mode-button:hover {
  // }
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

// @media only screen and (max-width: 600px) {
// }
// @media only screen and (min-width: 650px) {
// }
// @media only screen and (min-width: 992px) {
// }
