.save-button-row {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.word-builder {
  display: flex;
  flex-direction: row;
  width: 100%;

  &__right-box {
    -translate: 10rem;
  }
  &__left-box {
  }
}
// .word-builder__right-box {
//   margin-top: 10rem;
// }
