.word-builder {
  display: flex;
  flex-direction: column;
  &__save-button-row {
    display: flex;
    justify-content: center;
    transform: translateY(2rem);
    &--button {
      width: 6rem;
    }
  }
}
